## INSTALLING NECESSARY LIBRARIES ##
1. PANDAS
2. NUMPY

In [1]:
import pandas as pd #Imports datasets (e.g. excels, csv)

In [2]:
import numpy as numpy #Supports pandas imports datasets in a tabular format

## INSTALLING LIBRARIES FOR THE FIRST TIME ##

In [ ]:
# !pip install pandas
# !pip install numpy

In [3]:
# After installation, then import the libraries of the installed packages
import pandas as pd

import numpy as numpy

In [10]:
# pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

IMPORTING DATASETS

1. How to import an Excel file

In [4]:
#Importing an excel
pd.read_excel("DiamondPricesData.xlsx")

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53935   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53936   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53937   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53938   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53939   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [5]:
#Turn my imported dataset in to a python dataframe
diamonds = pd.read_excel("DiamondPricesData.xlsx")

In [6]:

#View the imported dataframe
diamonds.head(5)

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

In [7]:

#View the imported dataframe
diamonds.tail(5)

       price  carat        cut color clarity  depth  table     x     y     z
53935   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53936   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53937   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53938   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53939   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

In [8]:
diamonds

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53935   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53936   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53937   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53938   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53939   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53940 rows x 10 columns]

2. How to import and read a CSV dataset

In [9]:
#Import csv file
politicians = pd.read_csv("Female_Mps.csv")

#View the top three rows of the dattaframe
politicians.head()

,country,1945,1946,1947,1948,1949,1950,1951,1952,1953,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.4,27.4,27.4,27.4,27.7,27.8,27.9,27.2,27.2,27.2
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.1,33.5,32.8,32.2,31.6,30.9,30.4,30.0,29.6,29.6
2,Albania,3.66,6.46,8.81,10.8,12.5,14.1,13.5,12.9,12.4,...,15.9,15.7,18.8,21.8,24.8,27.9,28.6,29.5,29.5,35.7
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,47.6,44.3,39.3,41.1,42.9,44.6,46.4,46.4,46.4
4,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,19.2,20.8,22.5,29.4,36.3,43.1,50.0,50.0,50.0

In [10]:
politicians.shape

(184, 78)

In [11]:
#View the entire dataset of politicians
politicians

,country,1945,1946,1947,1948,1949,1950,1951,1952,1953,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.40,27.40,27.40,27.40,27.7,27.8,27.9,27.2,27.2,27.20
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.10,33.50,32.80,32.20,31.6,30.9,30.4,30.0,29.6,29.60
2,Albania,3.66,6.46,8.81,10.80,12.50,14.10,13.50,12.90,12.40,...,15.90,15.70,18.80,21.80,24.8,27.9,28.6,29.5,29.5,35.70
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.00,47.60,44.30,39.30,41.1,42.9,44.6,46.4,46.4,46.40
4,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.50,19.20,20.80,22.50,29.4,36.3,43.1,50.0,50.0,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.20,14.30,13.40,12.70,12.1,17.0,24.0,34.9,34.9,33.80
180,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.44,10.50,11.70,13.40,15.2,17.0,18.8,20.5,20.8,20.30
181,St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.80,13.50,13.30,13.00,13.0,13.0,13.0,13.0,18.2,18.20
182,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.28,6.48,7.66,8.84,10.0,10.0,10.0,10.0,10.0,7.84
183,South Africa,NaN,NaN,NaN,1.31,1.43,1.54,1.66,1.77,1.89,...,41.70,41.20,40.80,41.30,41.9,42.8,43.9,45.3,45.3,45.60

3. How to import an spss dataset

In [12]:
#If there's an issue with pandas importing spss, we use a different libbrary called pyreadstat
#!pip install pyreadstat
#import pyreadstat as py

# pip install pyreadstat

SyntaxError: invalid syntax (1914946339.py, line 5)

In [24]:
dec = pd.read_spss("Dec11.sav")

In [25]:
dec.head()

,psraid,int_date,lang,sample,segment,strata,version,state,cregion,density,...,ideo3x,iphoneuse,hphoneuse,adults,recadults,age1834,wt1,pupsa,wt2,weight
0,100017.0,120611.0,English,Landline,RDD landline (18+),8.0,Initial Version,Texas,South,4.0,...,Conservative,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.575831,0.774818,0.446164,2.65
1,100023.0,120611.0,English,Landline,RDD landline (18+),3.0,Initial Version,New York,Northeast,Lowest,...,Liberal,LLO,Dual - few/some cell,3+,2+,Not 18-34,3.431952,3.326398,11.416039,15.85
2,100026.0,120711.0,English,Landline,RDD landline (18+),6.0,Initial Version,Alabama,South,3.0,...,Conservative,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.863746,0.774818,0.669246,2.15
3,100027.0,120611.0,English,Landline,RDD landline (18+),7.0,Initial Version,Illinois,Midwest,3.0,...,Moderate,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.863746,0.774818,0.669246,4.20
4,100031.0,121011.0,English,Landline,RDD landline (18+),10.0,Initial Version,South Carolina,South,Lowest,...,Moderate,LLO,LLO,1.0,1.0,Not 18-34,0.575831,1.663199,0.957721,1.70

In [26]:
#View the imported spss data
dec

,psraid,int_date,lang,sample,segment,strata,version,state,cregion,density,...,ideo3x,iphoneuse,hphoneuse,adults,recadults,age1834,wt1,pupsa,wt2,weight
0,100017.0,120611.0,English,Landline,RDD landline (18+),8.0,Initial Version,Texas,South,4.0,...,Conservative,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.575831,0.774818,0.446164,2.65
1,100023.0,120611.0,English,Landline,RDD landline (18+),3.0,Initial Version,New York,Northeast,Lowest,...,Liberal,LLO,Dual - few/some cell,3+,2+,Not 18-34,3.431952,3.326398,11.416039,15.85
2,100026.0,120711.0,English,Landline,RDD landline (18+),6.0,Initial Version,Alabama,South,3.0,...,Conservative,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.863746,0.774818,0.669246,2.15
3,100027.0,120611.0,English,Landline,RDD landline (18+),7.0,Initial Version,Illinois,Midwest,3.0,...,Moderate,Dual,Dual - few/some cell,2.0,2+,Not 18-34,0.863746,0.774818,0.669246,4.20
4,100031.0,121011.0,English,Landline,RDD landline (18+),10.0,Initial Version,South Carolina,South,Lowest,...,Moderate,LLO,LLO,1.0,1.0,Not 18-34,0.575831,1.663199,0.957721,1.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,201694.0,121111.0,English,Cell,RDD cell phone (18+),6.0,Initial Version,Delaware,South,4.0,...,Don't know/Refused,CPO,CPO,2.0,2+,18-34,0.563631,1.010101,0.569324,3.75
2044,203329.0,121411.0,English,Cell,RDD cell phone (18+),9.0,Initial Version,New York,Northeast,Highest,...,Moderate,Dual,Dual-most/all cell,1.0,1.0,18-34,0.375754,0.628436,0.236138,2.60
2045,204682.0,121711.0,English,Cell,RDD cell phone (18+),10.0,Initial Version,New York,Northeast,Highest,...,Liberal,CPO,CPO,1.0,1.0,18-34,0.375754,1.010101,0.379550,2.40
2046,101739.0,121211.0,English,Landline,RDD landline (18+),6.0,Initial Version,Tennessee,South,3.0,...,Liberal,Dual,Dual-most/all cell,1.0,1.0,Not 18-34,0.863746,0.628436,0.542810,2.75
2047,200545.0,120711.0,English,Cell,RDD cell phone (18+),6.0,Initial Version,Michigan,Midwest,3.0,...,Conservative,Dual,Dual - few/some cell,2.0,2+,18-34,0.563631,0.774818,0.436712,3.80

In [28]:
import pyreadstat as py

In [30]:
#Use the pyreadstat to import the spss data
dec2, meta = py.read_sav("Dec11.sav")

#view if the data is imported correctly
dec2

,psraid,int_date,lang,sample,segment,strata,version,state,cregion,density,...,ideo3x,iphoneuse,hphoneuse,adults,recadults,age1834,wt1,pupsa,wt2,weight
0,100017.0,120611.0,1.0,1.0,1.0,8.0,1.0,48.0,3.0,4.0,...,1.0,2.0,2.0,2.0,2.0,2.0,0.575831,0.774818,0.446164,2.65
1,100023.0,120611.0,1.0,1.0,1.0,3.0,1.0,36.0,1.0,1.0,...,3.0,1.0,2.0,3.0,2.0,2.0,3.431952,3.326398,11.416039,15.85
2,100026.0,120711.0,1.0,1.0,1.0,6.0,1.0,1.0,3.0,3.0,...,1.0,2.0,2.0,2.0,2.0,2.0,0.863746,0.774818,0.669246,2.15
3,100027.0,120611.0,1.0,1.0,1.0,7.0,1.0,17.0,2.0,3.0,...,2.0,2.0,2.0,2.0,2.0,2.0,0.863746,0.774818,0.669246,4.20
4,100031.0,121011.0,1.0,1.0,1.0,10.0,1.0,45.0,3.0,1.0,...,2.0,1.0,1.0,1.0,1.0,2.0,0.575831,1.663199,0.957721,1.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,201694.0,121111.0,1.0,2.0,2.0,6.0,1.0,10.0,3.0,4.0,...,9.0,3.0,4.0,2.0,2.0,1.0,0.563631,1.010101,0.569324,3.75
2044,203329.0,121411.0,1.0,2.0,2.0,9.0,1.0,36.0,1.0,5.0,...,2.0,2.0,3.0,1.0,1.0,1.0,0.375754,0.628436,0.236138,2.60
2045,204682.0,121711.0,1.0,2.0,2.0,10.0,1.0,36.0,1.0,5.0,...,3.0,3.0,4.0,1.0,1.0,1.0,0.375754,1.010101,0.379550,2.40
2046,101739.0,121211.0,1.0,1.0,1.0,6.0,1.0,47.0,3.0,3.0,...,3.0,2.0,3.0,1.0,1.0,2.0,0.863746,0.628436,0.542810,2.75
2047,200545.0,120711.0,1.0,2.0,2.0,6.0,1.0,26.0,2.0,3.0,...,1.0,2.0,2.0,2.0,2.0,1.0,0.563631,0.774818,0.436712,3.80

## EDA ##

1. Exploring the excel dataset 'diamonds'

In [31]:
# Looking at the diamonds dataframe
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53934 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53926 non-null  float64
 6   table    53940 non-null  float64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [32]:
# Check the descriptive statistics
diamonds.describe()

,price,carat,depth,table,x,y,z
count,53940.000000,53940.000000,53926.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,3932.799722,0.797940,61.749479,57.457184,5.731157,5.734526,3.538734
std,3989.439738,0.474011,1.432661,2.234491,1.121761,1.142135,0.705699
min,326.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,950.000000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,2401.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,5324.250000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,18823.000000,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000

In [33]:
# Looking at descriptive stats of only one variable
diamonds["price"].describe()

count    53940.000000
mean      3932.799722
std       3989.439738
min        326.000000
25%        950.000000
50%       2401.000000
75%       5324.250000
max      18823.000000
Name: price, dtype: float64

In [36]:
# Forcing python to give descriptive stats about "object" or "string" data
import numpy as np
diamonds.describe(include=object)

          cut  color clarity
count   53940  53934   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11286   13065

Exercise: Explore spss dataset